# Slovak Jobs Data Preparation

**`Table of contents:`**
<br>
- <a href = '#desc'> Short description </a> 
- <a href = '#load'> Importing libs and getting the data </a>
- <a href = '#rewr_nan'>Re-writing missing values</a>
- <a href = '#salaries'>Creating float-type salaries</a>
    1. <a href = '#get_cur'>Getting all the currencies</a>
    2. <a href = '#conv_func'>Creating conversion functions</a>
    3. <a href = '#sal_ext'>Salary extraction</a>
    4. <a href = '#ins_newcol'>Inserting new columns (Start and End monthly salary)</a>
- <a href = '#loc_job'>Working with job location</a>
    1. <a href = '#city_imp'>Cities data import</a>
    2. <a href = '#new_cols'>Adding new columns</a>
    3. <a href = '#func_city'>Processing by city</a>
    4. <a href = '#func_dist'>Processing by district</a>
    5. <a href = '#func_country'>Processing by country</a>
- <a href = '#del_dup'>Dealing with duplicates</a>
- <a href = '#save'>Saving the prepared data</a>

<a id = 'desc'></a>

## Short description

After I scrabbed raw data from the biggest slovak website for finding jobs <a href = "https://www.profesia.sk/praca/">**profesia.sk**</a>, I have to prepare it and clean it to make a good-looking dataset for further usage in the analysis. <br>

<a id = 'load'></a>

## Importing libs and getting the data

In [1]:
import pandas as pd
import numpy as np
csv_rel_path = 'Scrapper/prsk_jobs.csv'
data_jobs = pd.read_csv(csv_rel_path, sep=',')

In [2]:
data_jobs.info()
print('----------------------------------------------')
data_jobs.head(3)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133169 entries, 0 to 133168
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Job                133169 non-null  object
 1   Employer           133169 non-null  object
 2   Location           133138 non-null  object
 3   Salary             133169 non-null  object
 4   WO_CV              133169 non-null  int64
 5   Paid_ride_to_work  133169 non-null  int64
 6   Housing            133169 non-null  int64
 7   Available_for_UKR  133169 non-null  int64
dtypes: int64(4), object(4)
memory usage: 8.1+ MB
----------------------------------------------

,Job,Employer,Location,Salary,WO_CV,Paid_ride_to_work,Housing,Available_for_UKR
0,.NET Programmer,Metrohm Research Slovakia s. r. o.,Einsteinova 33 Petržalka,From 2 500 EUR/month,0,0,0,0
1,.NET Programmer,Metrohm Research Slovakia s. r. o.,Einsteinova 33 Petržalka,2 300 - 3 800 EUR/month,0,0,0,0
2,.NET Programmer,CRIF - Slovak Credit Bureau s. r. o.,Štětkova 1638/18 140 00 Praha 4-Nusle Czechia ...,2 300 EUR/month,0,0,0,0

<a id = 'rewr_nan'></a>

## Re-writing missing values

During scrapping, all the missing text-type values were assinged to `'None'`.<br>
The next step is to check how many of those are in the dataframe, and change them to regular `NaN` expressions accordingly.

In [3]:
#Firstly, lets check only string-type colums for 'None' instances
#and write their labels to a list for further use
cols_with_None = []
for col in data_jobs.select_dtypes(include = 'object').columns:
    print(f'Column: {col}')
    None_count = (data_jobs[col] == 'None').sum()
    print(f"'None' count: {None_count}")
    print('--------------------------')
    if None_count != 0:
        cols_with_None.append(col)

Column: Job
'None' count: 0
--------------------------
Column: Employer
'None' count: 0
--------------------------
Column: Location
'None' count: 90
--------------------------
Column: Salary
'None' count: 4941
--------------------------

In [4]:
#Now, after checking, lets change instances
#having 'None' strings to actual NaNs
for col in cols_with_None:
    for ind in data_jobs.index:
        if data_jobs.loc[ind, col] == 'None':
            data_jobs.loc[ind, col] = float("NaN")

In [5]:
#Checking if all the instances were changed correctly:
for ind, col in enumerate(cols_with_None):
    print(f"{ind+1}) Column label: {col}")
    print(f"'None' count: {(data_jobs[col] == 'None').sum()}")
    print(f" NaN count: {pd.isnull(data_jobs[col]).sum()}")

1) Column label: Location
'None' count: 0
 NaN count: 121
2) Column label: Salary
'None' count: 0
 NaN count: 4941

<a id = 'salaries'></a>

## Creating float-type salaries

The website can contain jobs from neighboring countries, so the first step in creating float-type salaries would be currency investigation and creation of convertation functions.

<a id = 'get_cur'></a>

### Getting all the currencies

In [6]:
#Define a function which extracts a currency from a typical salary string
#As it is known about the data, salary typically contains words 'from', 'month', 'hour',
# which also need to be excluded from the string
def get_currency(text):
    a = text
    for ch in '0123456789-. ':
        a = a.replace(ch, '')
    a = a.replace('From', '') #from
    a = a.replace('/', '')
    a = a.replace('month', '') #a month
    a = a.replace('hour', '') #an hour
    return a

In [7]:
#Lets check all the instances and extract currencies from them
instances = []
for ind in data_jobs.index:
    if not pd.isnull(data_jobs.loc[ind, 'Salary']):
        instances.append(get_currency(data_jobs.loc[ind, 'Salary']))

#Lets see all the unique currency instances
all_currencies = list(set(instances))
all_currencies

['EUR', 'Kč', 'Ft']

<a id = 'conv_func'></a>

### Creating conversion functions

The initial hypothesis about different currencies was confirmed and we see three different currencies, from which only `EUR` is mostly used all over the world. <br>
Let's create a converter from `Kč` and `Ft` to `EUR`. As a multiplier I will take currency relationships during the **month of dataset creation** (May of 2022).

In [8]:
#Conversion to EUR
# 1 Kč = 0.041 EUR
# 1 Ft = 0.0026 EUR
def conversion_toEUR(money, currency):
    if currency == 'Kč':
        return round(0.041 * money, 2)
    elif currency == 'Ft':
        return round(0.0026 * money, 2)
    elif currency == 'EUR':
        return money
    else:
        raise TypeError('Currency does not correspond to conversion function. Either update the function or change currency manually. ')

Now, as the **currency conversion function** is defined, it is important to define function which will convert `hourly` wage to `monthly` wage, since all the salary should be on the same level of comparison.

In [9]:
#The average hours people spend working is 173.33 hrs/month
def conversion_toMonthly(money_hourly):
    return round(money_hourly * 173.33, 2)

<a id = 'sal_ext'></a>

### Salary extraction

The last step would be extraction of salaries and their **range** from dataset and creating separate columns in the dataset.

In [10]:
#Let's create a function, which will take the string salary
# and transform it into a list, which contains starting and max salary
# (if the salary is fixed - starting and max salaries are the same)

def get_salary(text):
    
    #checking for NaN
    if pd.isnull(text):
        #if it is NaN - return list of NaNs
        return [float('NaN'), float('NaN')]
    
    #creating initial variables
    a = text
    currency = get_currency(a)
    is_hourly = False
    
    #deleting unnecesarry characters and words
    a = a.replace('From', '') #from
    a = a.replace('/', '')
    a = a.replace(' ', '')
    a = a.replace(currency, '')
    a = a.replace('month', '') #a month
    
    #if hod is in the instance - that means the wage is hourly
    if 'hour' in text:
        is_hourly = True
        #getting rid of the word hod/hod.
        a = a.replace('hour', '') #an hour
    
    #splitting numbers
    a = a.split('-')
    
    #if there are two numbers
    if len(a) == 2:
        
        #if the wage is hourly
        if is_hourly:
            #convert every salary to monthly salary
            start_salary = conversion_toMonthly(float(a[0]))
            end_salary = conversion_toMonthly(float(a[1]))
        
        else:
            #else write as it is
            start_salary = float(a[0])
            end_salary = float(a[1])
            
    #if there is only one number        
    else:
        #if hourly
        if is_hourly:
            #convert to monthly salary and write equal salaries
            start_salary = end_salary = conversion_toMonthly(float(a[0]))
        else:
            #just write equal salaries
            start_salary = end_salary = float(a[0])
    
    #Converting salaries to EUR and returning them
    start_salary = conversion_toEUR(start_salary, currency)
    end_salary = conversion_toEUR(end_salary, currency)
    return [start_salary, end_salary]

In [11]:
#creating initial float arrays
start_salaries = np.zeros(len(data_jobs), dtype = 'float64')
end_salaries = np.zeros(len(data_jobs), dtype = 'float64')

#writing salaries to arrays accordingly
for ind, instance in zip(data_jobs['Salary'].index, data_jobs['Salary']):
    start_salary, end_salary = get_salary(instance)
    start_salaries[ind] += start_salary 
    end_salaries[ind] += end_salary

<a id = 'ins_newcol'></a>

### Inserting new columns (Start and End monthly salary)

In [12]:
#inserting Start and End Salary columns with float values
index_Salary = data_jobs.columns.get_loc("Salary")
data_jobs.insert(index_Salary+1, 'Start_salary_EUR_mon', start_salaries)
data_jobs.insert(index_Salary+2, 'End_salary_EUR_mon', end_salaries)

#Dropping initial Salary column
data_jobs.drop(labels = 'Salary', axis = 1, inplace = True)

In [13]:
data_jobs.head(3)

,Job,Employer,Location,Start_salary_EUR_mon,End_salary_EUR_mon,WO_CV,Paid_ride_to_work,Housing,Available_for_UKR
0,.NET Programmer,Metrohm Research Slovakia s. r. o.,Einsteinova 33 Petržalka,2500.0,2500.0,0,0,0,0
1,.NET Programmer,Metrohm Research Slovakia s. r. o.,Einsteinova 33 Petržalka,2300.0,3800.0,0,0,0,0
2,.NET Programmer,CRIF - Slovak Credit Bureau s. r. o.,Štětkova 1638/18 140 00 Praha 4-Nusle Czechia ...,2300.0,2300.0,0,0,0,0

<a id = 'loc_job'></a>

## Working with job location

To start off with cleaning location data I thought of the important values I need to put in the new Location column. <br>
*Job locations* have 3 options: **fully remote**, **half-remote** ('with occasional home office') and **at certain location**.
<br>
<br>
The resulting columns would be: `fully_remote`, `half_remote`, `Country`, `City`.

<a id = 'city_imp'></a>

### Cities data import

Datasets of cities were downloaded and used under free MIT licence from <a href = 'https://simplemaps.com/'>**Simplemaps**</a>: <br>
<a href = 'https://simplemaps.com/data/hu-cities'>`Hungary cities database`</a>
<br>
<a href = 'https://simplemaps.com/data/sk-cities'>`Slovakia cities database`</a>
<br>
<a href = 'https://simplemaps.com/data/cz-cities'>`Czechia cities database`</a>
<br>
<a href = 'https://simplemaps.com/data/pl-cities'>`Poland cities database`</a>
<br>
<a href = 'https://simplemaps.com/data/at-cities'>`Austria cities database`</a>
<br>

In [14]:
sk_cities = pd.read_csv('Cities/sk.csv', sep = ',')
hu_cities = pd.read_csv('Cities/hu.csv', sep = ',')
cz_cities = pd.read_csv('Cities/cz.csv', sep = ',')
pl_cities = pd.read_csv('Cities/pl.csv', sep = ',')
at_cities = pd.read_csv('Cities/at.csv', sep = ',')

countries = [sk_cities, hu_cities, cz_cities, pl_cities, at_cities]

In [15]:
#Sample of the datset
#(All the datasets have the same column names)
print(f'Size of the dataset: {len(sk_cities)}')
sk_cities.head(3)

Size of the dataset: 877

,city,lat,lng,country,iso2,admin_name,capital,population,population_proper
0,Bratislava,48.1447,17.1128,Slovakia,SK,Bratislavský,primary,429564.0,429564.0
1,Košice,48.7167,21.2500,Slovakia,SK,Košický,admin,238593.0,238593.0
2,Petržalka,48.1333,17.1167,Slovakia,SK,Bratislavský,NaN,103190.0,103190.0

<a id = 'new_cols'></a>

### Adding new columns

In [16]:
index_jobloc = data_jobs.columns.get_loc('Location')
data_jobs.insert(index_jobloc+1, 'fully_remote', 0)
data_jobs.insert(index_jobloc+2, 'half_remote', 0)
data_jobs.insert(index_jobloc+3, 'Country', '')
data_jobs.insert(index_jobloc+4, 'City', '')

In [17]:
data_jobs.head(3)

,Job,Employer,Location,fully_remote,half_remote,Country,City,Start_salary_EUR_mon,End_salary_EUR_mon,WO_CV,Paid_ride_to_work,Housing,Available_for_UKR
0,.NET Programmer,Metrohm Research Slovakia s. r. o.,Einsteinova 33 Petržalka,0,0,,,2500.0,2500.0,0,0,0,0
1,.NET Programmer,Metrohm Research Slovakia s. r. o.,Einsteinova 33 Petržalka,0,0,,,2300.0,3800.0,0,0,0,0
2,.NET Programmer,CRIF - Slovak Credit Bureau s. r. o.,Štětkova 1638/18 140 00 Praha 4-Nusle Czechia ...,0,0,,,2300.0,2300.0,0,0,0,0

<a id = 'func_city'></a>

### Processing by city

In [18]:
#Add a space in the end in order to compare full city names
data_jobs.loc[:, 'Location'] += ' '

#creating a special loop that will check the location string
# and modify the data in the previously created columns

#In order to achieve efectiveness, and avoid duplicate
# calculations, we will work only with uniques
for instance in data_jobs['Location'].unique():
    
    #skip every NaN value
    if pd.isnull(instance):
        continue
        
    #initialize bool variables for each instance
    skip_country = False
    
    for country in countries:
        
        #if the city was already found, skip all the other countries
        if skip_country:
            continue
            
        for city in country['city']:
            
            # if a city name is in the location string
            if ''.join([city.lower(), ' ']) in instance.lower():
                skip_country = True #set skip_country to True to skip every other country
                #getting the indices of instances with this location
                for ind in data_jobs[data_jobs['Location'] == instance].index:
                    data_jobs.loc[ind, 'Country'] = country.loc[0, 'country'] #write the country
                    data_jobs.loc[ind, 'City'] = city #write the city
                break
                
    # if there is a part that tells about occasional work from home
    if 'občasnú prácu z domu' in instance \
    or 'home office' in instance:
        for ind in data_jobs[data_jobs['Location'] == instance].index:
            data_jobs.loc[ind, 'half_remote'] = 1 #set half remote to 1
    
    #Else - check for full remote
    elif 'Remote' in instance or 'z domu' in instance:
        for ind in data_jobs[data_jobs['Location'] == instance].index:
            data_jobs.loc[ind, 'fully_remote'] = 1
            data_jobs.loc[ind, 'Country'] = float('NaN')
            data_jobs.loc[ind, 'City'] = float('NaN')

In [19]:
data_jobs.head(10)

,Job,Employer,Location,fully_remote,half_remote,Country,City,Start_salary_EUR_mon,End_salary_EUR_mon,WO_CV,Paid_ride_to_work,Housing,Available_for_UKR
0,.NET Programmer,Metrohm Research Slovakia s. r. o.,Einsteinova 33 Petržalka,0,0,Slovakia,Petržalka,2500.0,2500.0,0,0,0,0
1,.NET Programmer,Metrohm Research Slovakia s. r. o.,Einsteinova 33 Petržalka,0,0,Slovakia,Petržalka,2300.0,3800.0,0,0,0,0
2,.NET Programmer,CRIF - Slovak Credit Bureau s. r. o.,Štětkova 1638/18 140 00 Praha 4-Nusle Czechia ...,0,1,Czechia,Prague,2300.0,2300.0,0,0,0,0
3,.NET Programmer,develogics k. s.,Ulica Závodu Matador Petržalka Slovensko Brati...,0,1,Slovakia,Bratislava,2000.0,2000.0,0,0,0,0
4,.NET Programmer,Sygic a. s.,Sygic Mlynské nivy Bratislava Slovakia (Job wi...,0,1,Slovakia,Bratislava,2000.0,4000.0,0,0,0,0
5,.NET Programmer,Sygic a. s.,Sygic Mlynské nivy Bratislava Slovensko (Job w...,0,1,Slovakia,Bratislava,2000.0,4000.0,0,0,0,0
6,.NET Programmer,ESET spol. s r.o.,Remote work,1,0,NaN,NaN,3200.0,3200.0,0,0,0,1
7,.NET Programmer,R-DAS s. r. o.,Bratislava Slovakia (Job with occasional home ...,0,1,Slovakia,Bratislava,1200.0,2500.0,0,0,0,0
8,.NET Programmer,Takeda,Bratislava Slovakia (Job with occasional home ...,0,1,Slovakia,Bratislava,1850.0,1850.0,0,0,0,1
9,.NET Programmer,KODYS SLOVENSKO s r.o.,Práca z domu,1,0,NaN,NaN,1500.0,3000.0,0,0,0,1

<br><br>
Lets check instances which still have **no city** written:

In [20]:
no_city = data_jobs[data_jobs['City'] == '']
all_addr = len(no_city)
unique_addr = len(no_city['Location'].unique())
print(f'All adresses: {all_addr}')
print(f'Unique adresses: {unique_addr}')

All adresses: 22937
Unique adresses: 1463

<a id = 'func_dist'></a>

### Processing by district

As we can see, there are certain amount of **unique** adresses out of all, and it can be explained by the fact companies offer **different** jobs at the **same office location**.
<br>
Since we did not get all the locations, they may not contain city name in Location string, but rather the certain district of a big city, or country. I will create a function that will process data according to administrative names of districts, and then by country names.

In [21]:
#creating function to process data by administrative name
for instance in no_city["Location"].unique():
    #If NaN - go to the next iteration
    if pd.isnull(instance):
        continue

    skip_country = False #initializing skip_country variable
    for country in countries:
        #if the country was found previously - then just skip it
        if skip_country:
            continue
        
        #a cycle for writing country and city by administrative name
        for r_ind, region in enumerate(country['admin_name']):
            #if the administrative name is in location
            if ''.join([region, ' ']) in instance:
                #write the country and city name
                for ind in data_jobs[data_jobs['Location']==instance].index:
                    data_jobs.loc[ind, 'City'] = country.loc[r_ind, 'city']
                    data_jobs.loc[ind, 'Country'] = country.loc[r_ind, 'country']
                break

In [22]:
no_city = data_jobs[data_jobs['City'] == '']
all_addr = len(no_city)
unique_addr = len(no_city['Location'].unique())
print(f'All adresses: {all_addr}')
print(f'Unique adresses: {unique_addr}')

All adresses: 16566
Unique adresses: 1320

<a id = 'func_country'></a>

### Processing by country

The last thing need to be done here is only processing data by **country** (Slovakia + neighboring ones). <br>
In order to do that, I will use not only regular country names, but also slovak country names.

In [23]:
no_country = data_jobs[data_jobs['Country'] == '']
all_addr = len(no_country)
unique_addr = len(no_country['Location'].unique())
print(f'All adresses: {all_addr}')
print(f'Unique adresses: {unique_addr}')

All adresses: 16566
Unique adresses: 1320

In [24]:
#Creating lists of country names
sk_countries_names = ['Slovensko', 'Česko', 'Rakusko', 'Poľsko', 'Maďarsko']
countries_names = [sk_cities.loc[0, 'country'], cz_cities.loc[0,'country'], \
                   at_cities.loc[0, 'country'], pl_cities.loc[0, 'country'], \
                   hu_cities.loc[0, 'country']]

#Creating the dictionary of "translation" to regular country names
zip_iterator = zip(sk_countries_names, countries_names)
sk_country_convdict = dict(zip_iterator)
sk_country_convdict

{'Slovensko': 'Slovakia',
 'Česko': 'Czechia',
 'Rakusko': 'Austria',
 'Poľsko': 'Poland',
 'Maďarsko': 'Hungary'}

In [25]:
for instance in no_country['Location'].unique():
    if pd.isnull(instance):
        continue
        
    skip_country = False
    
    for country_name in countries_names:
        if ''.join([country_name.lower(), ' ']) in instance.lower():
            for ind in data_jobs[data_jobs['Location']==instance].index:
                data_jobs.loc[ind, 'Country'] = country_name
                data_jobs.loc[ind, 'City'] = 'None'
            skip_country = True
            break
        
    for sk_country_name in sk_countries_names:
        if ''.join([sk_country_name.lower(), ' ']) in instance.lower():
            for ind in data_jobs[data_jobs['Location']==instance].index:
                data_jobs.loc[ind, 'Country'] = sk_country_convdict[sk_country_name]
                data_jobs.loc[ind, 'City'] = float('NaN')
            skip_country = True
            break

In [26]:
no_country = data_jobs[data_jobs['Country'] == '']
all_addr = len(no_country)
unique_addr = len(no_country['Location'].unique())
print(f'All adresses: {all_addr}')
print(f'Unique adresses: {unique_addr}')

All adresses: 13982
Unique adresses: 1190

All other addresses are **poorly written**, so it is better to automatically treat them as **not written**(`None`)

In [27]:
for ind in no_country.index:
    data_jobs.loc[ind, 'Country'] = float('NaN')
    data_jobs.loc[ind, 'City'] = float('NaN')

Now it is possible to delete **location column**

In [28]:
data_jobs.drop(labels = 'Location', axis = 1, inplace = True)
data_jobs.head(1)

,Job,Employer,fully_remote,half_remote,Country,City,Start_salary_EUR_mon,End_salary_EUR_mon,WO_CV,Paid_ride_to_work,Housing,Available_for_UKR
0,.NET Programmer,Metrohm Research Slovakia s. r. o.,0,0,Slovakia,Petržalka,2500.0,2500.0,0,0,0,0

<a id = 'del_dup'></a>

## Dealing with duplicates

After some data preparation, we can say that now there are **no uncertainties** in the text data. <br>
So, now, it is time to deal with **duplicate job offers**.

In [29]:
#checking how many duplicates are in the dataset
print(len(data_jobs))
print(len(data_jobs.drop_duplicates(subset = data_jobs.columns,keep = 'first')))

133169
109890

In [30]:
#dropping duplicate rows
data_jobs.drop_duplicates(subset = data_jobs.columns,keep = 'first', inplace = True)

In [31]:
data_jobs.head(10)

,Job,Employer,fully_remote,half_remote,Country,City,Start_salary_EUR_mon,End_salary_EUR_mon,WO_CV,Paid_ride_to_work,Housing,Available_for_UKR
0,.NET Programmer,Metrohm Research Slovakia s. r. o.,0,0,Slovakia,Petržalka,2500.0,2500.0,0,0,0,0
1,.NET Programmer,Metrohm Research Slovakia s. r. o.,0,0,Slovakia,Petržalka,2300.0,3800.0,0,0,0,0
2,.NET Programmer,CRIF - Slovak Credit Bureau s. r. o.,0,1,Czechia,Prague,2300.0,2300.0,0,0,0,0
3,.NET Programmer,develogics k. s.,0,1,Slovakia,Bratislava,2000.0,2000.0,0,0,0,0
4,.NET Programmer,Sygic a. s.,0,1,Slovakia,Bratislava,2000.0,4000.0,0,0,0,0
6,.NET Programmer,ESET spol. s r.o.,1,0,NaN,NaN,3200.0,3200.0,0,0,0,1
7,.NET Programmer,R-DAS s. r. o.,0,1,Slovakia,Bratislava,1200.0,2500.0,0,0,0,0
8,.NET Programmer,Takeda,0,1,Slovakia,Bratislava,1850.0,1850.0,0,0,0,1
9,.NET Programmer,KODYS SLOVENSKO s r.o.,1,0,NaN,NaN,1500.0,3000.0,0,0,0,1
10,.NET Programmer,Deutsche Telekom IT Solutions Slovakia,0,0,Slovakia,Košice,2000.0,2650.0,0,0,0,1

<a id = 'save'></a>

## Saving the prepared data

In [33]:
data_jobs.to_csv(path_or_buf = 'Prepared Data/prsk_jobs_pr.csv', encoding = 'utf-8', sep = ',')